.text-muted {
  color: grey;
  font-style: italic;
  font-size: medium;
}

.topofthepage {
  background-image: url(HeaderBG.webp);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.disclaimer-overlay button {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 24px;
  color: black;
  padding: 5px;
  margin-left: 20px;
}

.disclaimer-text {
  font-size: 14px;
}

.disclaimer-overlay {
  padding: 10rem;
  position: fixed;
  visibility: hidden; /* Disabled overlay for now */
  background-color: lightgray;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: scroll;
}

.changelogheader {
  font-size: 80px;
  font-style: "bold";
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: black;
}

.changelog td {
  padding: 2px;
}
.changelog th {
  background-color: lightgray;
}

.changelog tr {
  text-align: center;
}
footer {
  position: fixed;
  text-align: center;
  background-color: gray;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 12px;
}
