.text-muted {
  color: grey;
  font-style: italic;
  font-size: medium;
}

.topofthepage {
  background-image: url(Header.webp);
  background-size: cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.disclaimer-overlay button {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 24px;
  color: black;
  padding: 5px;
  margin-left: 20px;
}

.disclaimer-text {
  font-size: 14px;
}

.disclaimer-overlay {
  padding: 10rem;
  position: fixed;
  /*visibility: hidden; /* Disabled overlay for now */
  background-color: lightgray;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: scroll;
}

.navbar-brand img {
  width: 32px;
  height: 32px;
}
.changelogheader {
  font-size: 80px;
  font-style: "bold";
  font-family: "Times New Roman", Times, serif;
}

.logo-large {
  width: 256px;
  height: 256px;
}

main * {
  margin-top: 5px;
  margin-bottom: 5px;
}
main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

table * {
  border-color: lightgray;
}

table {
  border-color: white;
  border-radius: 5px;
}

td {
  padding: 4px;
}
th {
  padding: 4px;
  background-color: lightgray;
}

tr {
  text-align: center;
}
.login {
  margin-top: 20vh;
}
.login-list {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  list-style-type: none;
}

.flex-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
}

.flex-col *{
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: -fit-content;

}

footer {
  margin-top: auto;
  text-align: center;
  background-color: #343a40;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 12px;
  font-size: 14px;
}

footer a {
  color: orange;
}

footer .links {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
}
footer .links * {
  margin-left: 8px;
  margin-right: 8px;
}
